@font-face {
  font-family: "THSarabunNew";
  font-style: normal;
  font-weight: normal;
  src: url("{{ public_path('fonts/THSarabunNew.ttf') }}") format("truetype");
}

thsarabun {
  font-family: "THSarabunNew";
}
kanit{
font-family: 'Kanit', sans-serif;
}